
:host{
  .currency-convertor{

    &__wrapper{
      width: 80vw;
      height: 400px;
      background: #fff;
      margin-top: 10px;
      box-shadow: 0px 0px 10px 0px #00000026;
      border-radius: 12px;
      box-sizing: border-box;
      padding: 20px;
    }
  }
}
