
:host{

  .header{
    &__wrapper{
      width: 80vw;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 0 12px 12px;
      background: #fff;
      box-shadow: 0px 0px 10px 0px #00000026;
    }
  }

}
