<div class="header-currency">
  <div class="header-currency__wrapper">
    <div class="header-currency__currency-element">
      <img width="35" height="35" src="https://img.icons8.com/color/48/usa.png" alt="usa"/>
      <span>USD: {{ currencyUSDtoUAH }}</span>
    </div>
    <div class="header-currency__currency-element">
      <img width="35" height="35" src="https://img.icons8.com/color/48/flag-of-europe.png" alt="flag-of-europe"/>
      <span>EUR: {{ currencyEURtoUAH }}</span>
    </div>
  </div>
</div>
